# Sensitive environment variables (CRITICAL)
.env

# Python caching folders
__pycache__/
*.pyc

# Local application logs
/Logs/

# Local developmental backups
/Development_Backup/

# Github Token (CRITICAL)
# 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 